{% extends "base.html" %}
{% block content %}

<!-- Section: Design Block -->
<section class="m-3">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Cooks.com
            <br />
            <span class="text-primary">better cook better health</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            We provide a unique cooking experience that takes the guesswork out of creating delicious meals. Our
            experienced chefs will provide a step-by-step guide to making your favourite dishes. We also offer tips and
            suggestions on how to create new recipes, perfect for the home chef who likes to experiment with flavors and
            ingredients.?
          </p>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form method="post">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->

                <div class="row">

                  <div class="col-12 mb-5" style="color: blue;">
                    <h3>Login Form</h3>


                    {% if messages %}
                    <ul class="messages">
                      {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                  </div>
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="text" id="username" name="username" class="form-control" />
                    <label class="form-label" for="username">Username</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="pass1" class="form-control" />
                    <label class="form-label" for="password">Password</label>
                  </div>



                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Login</button>


                  <div class="signup">
                    <h5>create an acount? </h5>
                    <a href="{% url 'register' %}" target="_main" class="signup1" style="text-decoration: none;"> SIGN
                      UP</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>


{% endblock %}