<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/regi.css">
  <title>SIGN-UP PAGE</title>
</head>

<body>
  <div class="container">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="form-container">
      <p>Register Here</p>
      <div class="input_container">
        <form action="{% url 'register' %}" method="POST">
          {% csrf_token %}
          <div class="inputdiv">
            <label>Username</label>
            <input type="text" class="username" name="username" placeholder="Username" required>

            <label>Email-Id</label>
            <input type="email" class="username" name="email" placeholder="Enter your email id " required>

            <label>First Name</label>
            <input type="text" class="username" name="fname" placeholder="Enter your first name" required>

            <label>Last name</label>
            <input type="text" class="username" name="lname" placeholder="Enter your last name" required>

            <label>Password</label>
            <input type="password" class="username" name="pass1" placeholder="Password" required>

            <label>Confirm Password</label>
            <input type="password" class="username" name="pass2" placeholder="Confirm password" required>

          </div>

          <div class="bottom">
            <div class="login">
              <h5>Login here? </h5>
              <a href="{% url 'login' %}" style="text-decoration: none; color: blue;">login</a>
            </div>
            <div class="submitClass"><input type="submit" value="Submit" id="submit"></div>
          </div>
        </form>
      </div>

    </div>
  </div>
</body>

</html>